.toggleButton {
  // background-color: #018ecf !important;
  // border-radius: 0 !important;
  color: #fff !important;
  // width: 10vw !important;
  // min-width: 120px !important;
  // max-width: 180px !important;
  // border:1px solid #019de6!important;   
  // font-weight: bold !important;
  // font-size: 1.2em !important;
  box-shadow: 0 3px 2px #004d70;
  // z-index: 10 !important;



}

.link {
  text-decoration: none;

}

.active {
  background-color: #004d70;
}