tr:nth-child(even) {
  background-color: #ccc;
}

.easy-edit-inline-wrapper {
  width: 80px;
  // display: inline-block;
}

.easy-edit-wrapper {
  color: #4242d7;
  text-decoration: underline;
}

.MuiTableRow-root {
 &:nth-child(even){
  background-color: rgb(245, 245, 245) !important;
 } 
 &:hover{
   background-color: rgb(233, 233, 233) !important;
 }
}