@font-face {
  font-family: yekan;
  src: url('./../../asset/font/Yekan.ttf');
}

.container {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // min-width: 300px;

}

.text {
  font-family: yekan;
  text-align: center;
  animation-name: example;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes example {
  0% {
    filter: invert(0);
    text-shadow: 0 0 0px #888;
  }

  50% {
    filter: invert(0);
    transform: scale(1.05);
    text-shadow: 0 2px 3px #888;
  }

  100% {
    filter: invert(0);
    text-shadow: 0 0 0px #888;
  }
}

.errorText {
  color: red;
}

.logo {
  display: flex;
  width: 200px;
  height: 200px;
  margin: auto;
}

.sub {
  text-align: center;
}